* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee Spice', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    color: white;
}

main {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.altura, .peso {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    outline: none;
    border: 10px;
    border-color: blueviolet;
    border-radius: 100px;
}

button {
    padding: 5px;
    width: 105%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(165, 6, 165, 0.479);
    color: #fff;
    font-weight: bold;
}